.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #fff;
    border-bottom: 3px solid #ddd;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    text-decoration: none;
    color: #8B7969;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.header__button {
    text-decoration: none;
    color: #E1D3C7;
    background-color: #F6F6F6;
    border-color: #E1D3C7;
    margin: 0 0 0 auto;
    padding: 4px 6px;
    border-radius: 3px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    color: #8B7969;
    margin-bottom: 40px;
    text-align: center;
}