.form {
    margin: 0 auto;
    width: 70%;
    background-color: #EDEAE6;
}

.form__group {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    margin: 20px 30%;
    margin-bottom: 15px;
}

.form__group-title {
    margin-right: 10px;
}

.form__group-content {
    flex-basis: 70%;
}

.form__label--item {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    color: #8B7969;
}

.form__label--required {
    margin-left: 5px;
    color: #ff0000;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #FBFBFB;
    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__input--radio input[type="radio"] {
    color: #8B7969;
    margin-left: 15px;
}

.form__input-separator {
    margin: 0 5px;
    color: #8B7969;
    font-size: 16px;
}

.form__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #8B7969;
    color: #fff;
    cursor: pointer;
}